{% extends 'base.html' %}
{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<style>
body{
margin: 0;
font-family: 'Roboto', sans-serif;
}
.wrapper .sidebar{
    padding-top: 30px;
    background: #173051;
    position: fixed;
    width: 250px;
    height: calc(100%);
    z-index: 2;
    transition:0.3s;
    transition-property: width;
    overflow-y: auto;
}

.here{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition-property: background;
  background: #4B688D;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition-property: background;
}
.sidebar a:hover{
    background: #4B688D
}

.sidebar i{
    padding-right: 10px;
}

.flex-container {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  background: #EDF1F7;
  display: flex;
}

.flex-item {
  margin: 10px;
  padding: 20px;
  color: black;
  text-align: center;
  border-radius: 5px;
  background: #719dbb;
  flex-wrap: wrap;
}

</style>

<body>
    <div class='wrapper'>
        <div class='sidebar'>
            <div class='here'><i class="fas fa-vials"></i><span>Dash board</span></div>
            <a href="{% url 'inferences:examination' patient.id %}"><i class="fas fa-vials"></i><span>검사</span></a>
            <!-- <a href=""><i class="fas fa-poll-h"></i><span>결과</span></a> -->
            <a href="{% url 'inferences:editInfo' patient.id %}"><i class="fas fa-pencil-ruler"></i><span>정보수정</span></a>
        </div>
    </div>

    <div class='patient' style="padding-left: 250px;">
      <br>
      <h4>&nbsp&nbsp&nbsp{{patient.code}}&nbsp&nbsp&nbsp&nbsp&nbsp{{patient.name}}&nbsp&nbsp&nbsp&nbsp&nbsp{{patient.age}}&nbsp&nbsp&nbsp&nbsp&nbsp{{patient.sex}}</h4>
    <hr>
    </div>
  
    
    <div style="padding-left: 400px; width:1300px;">
      <br>
      <div class="flex-container" style="padding-left: px;">
        <div class="flex-item" style='width:400px;'>{{patient.prescription}}</div>
        <div class="flex-item" style='width:400px;'>{{patient.vitalSigns}}</div>
      </div>
      <div class="flex-container">
        <div class="flex-item" style='width:400px;'>{{patient.history}}</div>
        <div class="flex-item" style='width:500px;'><p>xrays</p>
          <ol>
            {% for xray in xrays %}
            <li><a style="color:black;" href="{%url 'inferences:infer' patient.id xray.id%}">{{xray.photo}}&nbsp&nbsp{{xray.prediction}}</a></li>
            {% endfor %}
          </ol>
          </div>
      </div>

      <!-- {{patient.code}}
      {{patient.name}}
      {{patient.age}}
      {{patient.sex}}
      {{patient.prescription}} -->

      <!-- <p>xrays</p>
      {% for xray in xrays %}
          {{xray.id}}
          {{xray.created_at}}
      {% endfor %} -->
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


</body>


{% endblock %}