{% extends 'base.html' %}
{% block body %}
<style>

body{
margin: 0;
font-family: 'Roboto', sans-serif;
}
.wrapper .sidebar{
    padding-top: 30px;
    background: #173051;
    position: fixed;
    width: 250px;
    height: calc(100%);
    z-index: 2;
    transition:0.3s;
    transition-property: width;
    overflow-y: auto;
  
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition-property: background;
}

.here{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition-property: background;
  background: #4B688D;
}

.sidebar a:hover{
    background: #4B688D;
}

.sidebar i{
    padding-right: 10px;
}

</style>
<body>
    <div class='wrapper'>
        <div class='sidebar'>
            <a href="{% url 'inferences:detail' patient.id %}"><i class="fas fa-vials"></i><span>Dash board</span></a>
            <a href="{% url 'inferences:examination' patient.id %}"><i class="fas fa-vials"></i><span>검사</span></a>  
            <a href=""><i class="fas fa-poll-h"></i><span>결과</span></a>
            <div class='here'><i class="fas fa-pencil-ruler"></i><span>정보수정</span></div>
            <a href="{% url 'inferences:editInfo' patient.id %}"><i class="fas fa-hammer"></i><span>Audio&CXR(beta)</span></a>
    </div>
    
    <div class='content' style="margin-left:280px;">
        <h1>Edit patient info page<hr></h1>
        
        {{patient.code}}
        {{patient.name}}
        {{patient.age}}
        {{patient.sex}}
        
        <form action="" method="POST">
            {% csrf_token %}
            prescription <textarea name="prescription" id="" cols="30" rows="5">{{patient.prescription}}</textarea><br>
            vitalSigns <textarea name="vitalSigns" id="" cols="30" rows="5">{{patient.vitalSigns}}</textarea><br>
            history <textarea name="history" id="" cols="30" rows="5">{{patient.history}}</textarea><br>
            <input type="submit" value="submit">
        </form>
    </div> 
</body>
{% endblock %}