{% extends 'base.html' %}
{% block body %}

<style>
/* 표 스타일 */


table {
width: 80%;
border: 1px solid #444444;
border-collapse: collapse;
margin-left: 100px;
margin-right: 100px;
margin-top: 20px;
}

tr:nth-child(even){
    background-color: #EDF1F7;
}
tr:hover {
    background-color: #d1d1d1;
}

tr:hover td {
    background-color: transparent; /* or #000 */
}

th, td {
border: 1px solid #444444;
padding: 10px;
}


table { border-collapse:collapse; }  
th, td { border:1px solid black; }
[class^=count-] tr {
  counter-increment: mycounter;
}
[class^=count-] tr>td:first-child:before {
  content: counter(mycounter) " ";
}
.count-1 tr:nth-child(1) { counter-reset: mycounter; }
.count-2 tr:nth-child(2) { counter-reset: mycounter; }
}

</style>

<body>
<table class='count-2'>
    <tr>
    	<th></th>
        <td>병실변호</td>
    	<td>ID</td>
        <td>Name</td>
        <td>나이</td>
        <td>성별</td>
        <td>해당과</td>
        <td>담당교수</td>
        <td>입원날짜</td>
        <td>재원기간</td>
        <td>비고</td>
        
    </tr>
    {% for patient in patients %}
     <tr style = "cursor:pointer;" onClick = " window.open('{% url 'inferences:detail' patient.id%}')" 
     onMouseOver = " indow.status = '' " onMouseOut = " window.status = '' " target="_blank">
         <td></td>
         <td>{{patient.room}}</td>
         <td>{{patient.code}}</td>
         <td>{{patient.name}}</td>
         <td>
            <script>
                const today = new Date();
                const birthDate = {{patient.birth | date:'Y'}};
    
                let age = today.getFullYear() - birthDate.getFullYear();
                const m = today.getMonth() - birthDate.getMonth();
                if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
    
                document.writeln(age);
                </script>
                <!-- {{patient.birth | date:'Y'}} -->
         <td>{{patient.sex}}</td>
         <td>{{patient.unit}}</td>
         <td>{{patient.doctor}}</td>
         <td>{{patient.admission | date:'Y.m.d'}}</td>
         <td>{{patient.admission | date:'Y.m.d'}}, {% now "Y-m-d" %}</td>
        <td>{{patient.etc}}</td>
    </tr>
    {% endfor %}
    

</table>

</body>
    
{% endblock %}