<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" /> -->
    <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
</head>
<body>
    <h1>aud page</h1>

    <audio id="myAudio" class="video-js vjs-default-skin"></audio>
    <button class="audio-btn strt disable-btn" id="submit" disabled>Submit</button>
    <span class="upload-comp">Uploading Complete</span>

    <script>
        // Handle audio record and upload
        $(document).ready(function(){
            var player = videojs("myAudio", {
                controls: true,
                width: 600,
                height: 300,
                fluid: false,
                plugins: {
                    wavesurfer: {
                        src: "live",
                        waveColor: "#36393b",
                        progressColor: "black",
                        debug: true,
                        cursorWidth: 1,
                        msDisplayMax: 20,
                        hideScrollbar: true
                    },
                    record: {
                        audio: true,
                        video: false,
                        maxLength: 60,
                        debug: true
                    }
                }
            }, function() {
                // print version information at startup
                var msg = 'Using video.js ' + videojs.VERSION +
                    ' with videojs-record ' + videojs.getPluginVersion('record') +
                    ' + videojs-wavesurfer ' + videojs.getPluginVersion('wavesurfer') +
                    ' and recordrtc ' + RecordRTC.version;
                videojs.log(msg);
            });
            // error handling
            player.on('deviceError', function() {
                console.log('device error:', player.deviceErrorCode);
            });
            player.on('error', function(error) {
                console.log('error:', error);
            });
            // user clicked the record button and started recording
            player.on('startRecord', function() {
                console.log('started recording!');
            });
            // user completed recording and stream is available
            player.on('finishRecord', function() {
                // the blob object contains the recorded data that
                // can be downloaded by the user, stored on server etc.
                console.log('finished recording: ', player.recordedData);
                $('#submit').prop('disabled', false);
                $('#submit').removeClass('disable-btn');
            });
            $('#submit').on('click', function(){
                var btn = $(this);
                btn.html('Saving...').prop('disabled', true).addClass('disable-btn');
                var myFile = new File([player.recordedData], 'audio.webm');
                var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                var url = "{% url 'aud' %}";
                var data = new FormData();
                data.append('recorded_audio', myFile);
                data.append('csrfmiddlewaretoken', csrf);
                $.ajax({
                    url: url,
                    method: 'post',
                    data: data,
                    success: function(data){
                        if(data.success){
                            btn.html('Re Submit');
                            $('.upload-comp').show();
                        }
                        else{
                            btn.html('Error').prop('disabled', false).removeClass('disable-btn');
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        });
        </script>
    <!-- <script src="https://vjs.zencdn.net/7.10.2/video.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/video.js@7.5.0/dist/video.cjs.js"></script>
</body>
</html>