{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
body {
	color: #4e4e4e; /*member login 글씨 색*/
	background: #FEFAF4; /*배경 색*/
	font-family: 'Roboto', sans-serif;
}
.form-control {
	background: #FDF4E6; /*로그인 쓰는 곳 배경*/
	font-size: 16px;
	border-color: transparent;
	box-shadow: none !important;
}
.form-control:focus {
	border-color: #AAABD3; /*아이디 쓰는 곳 클릭 시 아웃라인*/
	background: #FCE9CD; /*아이디 쓰는 곳 클릭 시 배경색*/
}
.form-control, .btn {        
	border-radius: 2px;
}
.login-form {
	width: 380px;
	margin: 0 auto;
}
.login-form h2 {
	margin: 0;
	padding: 30px 0;
	font-size: 34px;
}
.login-form .avatar {
	margin: 0 auto 30px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 9;
	background: #F6B352; /*동그라미 배경색*/
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
	width: 100%;
}
.login-form form {
	color: #7a7a7a; /*remember me*/
	border-radius: 4px;
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;		
}
.login-form .btn {
	font-size: 16px;
	line-height: 26px;
	min-width: 120px;
	font-weight: bold;
	background: #F6B352;/*sign in 배경색*/
	border: none;		
}
.login-form .btn:hover, .login-form .btn:focus{
	background: #8989AA;/*sign in hover 시 배경색*/
	outline: none !important;
}
.checkbox-inline {
	margin-top: 14px;
}
.checkbox-inline input {
	margin-top: 3px;
}
.login-form a {
	color: #353866; /*sign up in 배경색*/
}	
.login-form a:hover {
	text-decoration: underline;
}
.hint-text {
	color: #999; /*dont have account 배경색*/
	text-align: center;
	padding-bottom: 15px;
}
</style>
		

<div class="login-form">
	<h2 class="text-center">Login</h2>
	{% if error.state %}
		<h2>{{ error.msg }}</h2>
	{% endif %}
	<form action="{% url 'accounts:login' %}" method="post">
		{% csrf_token %}
		<div class="avatar">
			<img src="" alt="">
		</div>           
		<div class="form-group">
			<input type="text" class="form-control input-lg" name="user_id" placeholder="Username"/>	
		</div>
		<div class="form-group">
			<input type="password" class="form-control input-lg" name="user_pw" placeholder="Password"/>
		</div>        
		<div class="form-group clearfix">
			<button type="submit" class="btn btn-primary btn-lg pull-right">Sign in</button>
		</div>		
	</form>
</div>

{% endblock %}